<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Blog</title>
</head>
<body>
    <!-- Your content here -->
    <%- include('partials/navbar') %>

    <%= JSON.stringify(user) %>
   
    <!-- Your scripts here -->
    <%- include('partials/scripts') %>
</body>
</html>